input[type=text] {
    border: 2px solid #000000;
    font-size:20px; 
}

input[type=password] {
    border: 2px solid #000000;
    font-size:20px; 
}



input[type=submit] {
    display: inline-block;
    padding: 5px 40px;
    text-decoration: none;
    font-weight:bold;
    background:#fcb22c ;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

input[type=submit]:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}




input[type=reset] {
    font-weight:bold;
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    background: #fe750e;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
    
input[type=reset]:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}





input[type=button] {
    font-weight:bold;
    display: inline-block;
    padding: 5px 40px;
    text-decoration: none;
    background: #89c01c;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
input[type=button]:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}




button.button1 {
  width: 250px;
  height: 200px;
  font-size: 34px;
  border:12px solid #89c01c;
  background-color: #89c01c;
  color: #fff;
  transition: .6s all;
}

button.button1:hover{
    border:3px solid #89c01c;
  background-color: rgba(147,162,0,.0);
  color:#89c01c;
}


button.button2 {
  width: 250px;
  height: 200px;
  font-size: 34px;
  border:12px solid #fcb22c;
  background-color: #fcb22c;
  color: #fff;
  transition: .6s all;
}

button.button2:hover{
    border:3px solid #fcb22c;
  background-color: rgba(147,162,0,.0);
  color:  #fcb22c;
}